<p>leftmenu works!</p>
<ol type="I">
    <li> Module 1
        <ol>
            <li>Bai 1</li>
            <li>Bai 2</li>
            <li>Bai 3</li>
        </ol>
    <li> Module 2
        <ol start="4">
            <li>Bai 1</li>
            <li>Bai 2</li>
            <li>Bai 3</li>
        </ol>
    </li> 
    <li> Module 3
        <ol start="7">
            <li>
                <a routerLink="listproduct">Danh sach san pham</a></li>
            <li>Bai 2</li>
            <li>Bai 3</li>
        </ol>
    </li>

</ol>