<p>bindingclass works!</p>
<h1 [class]="success">This is a success message</h1>
<h1 [class]="error">This is an error message</h1>
<h1 [class]="primary">This is a primary message</h1>
<h1 [class]="normal">This is a normal message</h1>
<h1 [class]="multiClass">This is a multi-class message</h1>

<h2 class="{{ success }}">This is a success message </h2>
<h2 class="{{ error }}">This is an error message </h2>
<h2 class="{{ primary }}">This is a primary message</h2>
<h2 class="{{ normal }}">This is a normal message</h2>
<h2 [class]="textComplexityClass">This is a message </h2>