<p>first works!</p>
<form action="GET">
    <table>
        <tr>
            <td> first</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>middle</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>last</td>
            <td><input type="text" name="" id=""></td>
        </tr>
    </table>
    first name: <input type="text" name="fname"><br>
    middle name: <input type="text" name="mname"><br>
    last name: <input type="text" name="lname"><br>
</form>
